body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
  color: #333333;
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, #ffffff 80%, transparent 120%),
    linear-gradient(to right, #fffdfd 80%, transparent 120%);
  background-size: 20px 20px;

}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: transparent;
  margin: 20px;
}

.content {
  background-color: #F0F5FF;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 25px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  overflow: auto;
}

.profile-image {
  text-align: center;
  margin-bottom: 20px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.profile-image img:hover {
  transform: scale(1.1);
  border-color: #666;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.toggle-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.toggle-container i {
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease;
  animation: wiggle 2s infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-60deg);
  }
}

.heading {
  margin: 10px 0;
  padding: 10px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 5px;
  text-align: center;
  background-color: #333333;
  color: #FFFFFF;
}

.heading:hover {
  box-shadow: -5px 8px 2px rgba(0, 0, 0, 1);
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 20px;
}

.item {
  position: relative;
  flex: 0 0 calc(25% - 20px);
  margin: 10px 0;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: solid 2px rgb(0, 0, 0);
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.item:hover {
  transform: translateY(-5px);
  box-shadow: -5px 8px 2px rgba(0, 0, 0, 1);
}

.item h2 {
  font-size: 1rem;
  margin-top: 10px;
}

.item p {
  font-size: 0.9rem;
}

.item i {
  font-size: 1.2rem;
  margin-top: 15px;
}

.item-link {
  margin-top: auto;
  text-decoration: none;
  color: inherit;
}

.socialmedia {
  margin: 15px;
}

.socialmedia>a>i {
  padding: 15px;
  margin: 0px 5px;
  border-radius: 50px;
  color: #000000;
  font-size: 25px;
  transition: all 0.5s ease;
}

.socialmedia>a>i:hover {
  background-color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

.fa-github:hover {
  color: #ffffff;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-linkedin:hover {
  color: #0077B5;
}


/* Dark Mode Styles */
body.dark-mode {
  background-color: #fff;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #333333 80%, transparent 120%),
    linear-gradient(to right, #333333 80%, transparent 120%);
  background-size: 20px 20px;
}

body.dark-mode .content {
  background-color: #fff;
  color: #ffffff;
  background-image: linear-gradient(to bottom, #333333 80%, transparent 120%),
    linear-gradient(to right, #333333 80%, transparent 120%);
  background-size: 20px 20px;

}

body.dark-mode .heading {
  border: 2px solid rgb(255, 255, 255);
  background-color: #666;
  color: #fff;
}

body.dark-mode .heading:hover {
  box-shadow: -5px 8px 2px rgb(255, 255, 255);
}

body.dark-mode img {
  border: solid 2px rgb(255, 255, 255);
}

body.dark-mode img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body.dark-mode .item:nth-child(1) {
  background-color: #af972e;
  color: #ffffff;
}

body.dark-mode .item:nth-child(2) {
  background-color: #5E944D;
  color: #ffffff;
}

body.dark-mode .item:nth-child(3) {
  background-color: #5E7EB0;
  color: #ffffff;
}

body.dark-mode .item:nth-child(4) {
  background-color: #D8775A;
  color: #ffffff;
}

body.dark-mode .item:nth-child(5) {
  background-color: #7A6FA4;
  color: #ffffff;
}

body.dark-mode .item:nth-child(6) {
  background-color: #D1963E;
  color: #ffffff;
}

body.dark-mode .item {
  border-color: #ffffff;
  background-color: #666;
}

body.dark-mode .item:hover {
  transform: translateY(-5px);
  box-shadow: -5px 8px 2px rgb(255, 255, 255);
}

body.dark-mode .item i {
  color: #ffffff;
}

body.dark-mode .socialmedia>a>i {
  color: #ffffff;
}

body.dark-mode .fa-github:hover {
  color: #ffffff;
}

body.dark-mode .fa-twitter:hover {
  color: #1DA1F2;
}

body.dark-mode .fa-linkedin:hover {
  color: #0077B5;
}

.item:nth-child(1) {
  background-color: #FFE082;
  color: #000;
}

.item:nth-child(2) {
  background-color: #87d08b;
  color: #000;
}

.item:nth-child(3) {
  background-color: #90CAF9;
  color: #000;
}

.item:nth-child(4) {
  background-color: #FFAB91;
  color: #000;
}

.item:nth-child(5) {
  background-color: #B39DDB;
  color: #000;
}

/* .item:nth-child(6) {
  background-color: #FFCC80;
  color: #000;
} */

/* Media Queries for Responsive Design */
@media (max-width: 800px) {
  .content {
    width: 90%;
  }

  .profile-image img {
    width: 120px;
    height: 120px;
  }

  .item {
    flex: 0 0 calc(33.33% - 20px);
  }

  .heading h1 {
    font-size: 1.5rem;
  }

  .heading p {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .content {
    width: 100%;
  }

  .profile-image img {
    width: 100px;
    height: 100px;
  }

  .item {
    flex: 0 0 calc(50% - 20px);
  }

  .item h2 {
    font-size: 0.9rem;
  }

  .item p {
    font-size: 0.8rem;
  }

  .item i {
    font-size: 1.5rem;
  }

  .heading h1 {
    font-size: 1.2rem;
  }

  .heading p {
    font-size: 0.7rem;
  }
}

@media (max-width: 200px) {
  .profile-image img {
    width: 80px;
    height: 80px;
  }

  .item {
    width: 100%;
    flex: 0 0 100%;
  }

  .item h2 {
    font-size: 0.8rem;
  }

  .item p {
    font-size: 0.7rem;
  }

  .item i {
    font-size: 1.2rem;
  }

  .heading h1 {
    font-size: 1rem;
  }

  .heading p {
    font-size: 0.6rem;
  }
}