body {
     margin: 0;
     font-family: 'Poppins', sans-serif;
     background-color: #e0e0e0;
     color: #333333;
     overflow-x: hidden;
     background-image: linear-gradient(to bottom, #ffffff 80%, transparent 120%),
          linear-gradient(to right, #fffdfd 80%, transparent 120%);
     background-size: 20px 20px;
}

.page {
     display: flex;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
     background-color: transparent;
     margin: 20px;
}

.content {
     background-color: #F0F5FF;
     box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
     border-radius: 10px;
     padding: 25px;
     max-width: 1000px;
     margin: 0 auto;
     /* Adjust the width as needed */
     text-align: center;
     position: relative;
     overflow: auto;
}

.toggle-container {
     position: absolute;
     top: 10px;
     right: 10px;
     z-index: 1000;
}

.toggle-container i {
     font-size: 24px;
     cursor: pointer;
     transition: color 0.3s;
}

.heading {
     margin: 20px 0;
     padding: 10px;
     border: 2px solid rgb(0, 0, 0);
     border-radius: 5px;
     text-align: center;
     background-color: #333333;
     color: #FFFFFF;
}

.heading:hover {
     box-shadow: -5px 8px 2px rgba(0, 0, 0, 1);
}

.experiences {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     margin-top: 20px;
     align-content: center;
     
}

.experience {
     flex: 0 0 calc(40% - 20px);
     margin: 10px 0;
     padding: 10px;
     border: 2px solid #000000;
     background-color: #f5f5f5;
     border-radius: 5px;
     text-align: center;
     box-sizing: border-box;
     transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.experience:hover {
     transform: translateY(-5px);
     box-shadow: -5px 8px 2px rgba(0, 0, 0, 1);
}

.experience img {
     width: 100%;
     object-fit: cover;
}

.socialmedia {
     margin: 15px;
}

.socialmedia>a>i {
     padding: 15px;
     margin: 0px 5px;
     border-radius: 50px;
     color: rgb(0, 0, 0);
     font-size: 25px;
     transition: all 0.5s ease;
}

.socialmedia>a>i:hover {
     background-color: #000000;
}

.fa-github:hover {
     color: #ffffff;
}

.fa-twitter:hover {
     color: #1DA1F2;
}

.fa-linkedin:hover {
     color: #0077B5;
}

a {
     text-decoration: none;
     color: #000000;
}

body.dark-mode {
     background-color: #fff;
     color: #ffffff;
     background-image: linear-gradient(to bottom, #333333 80%, transparent 120%),
          linear-gradient(to right, #333333 80%, transparent 120%);
     background-size: 20px 20px;
}

body.dark-mode .content {
     background-color: #fff;
     color: #ffffff;
     background-image: linear-gradient(to bottom, #333333 80%, transparent 120%),
          linear-gradient(to right, #333333 80%, transparent 120%);
     background-size: 20px 20px;

}

body.dark-mode .heading {
     border: 2px solid rgb(255, 255, 255);
     background-color: #666;
     color: #fff;
}

body.dark-mode .heading:hover {
     box-shadow: -5px 8px 2px rgb(255, 255, 255);
}

body.dark-mode .experience {
     color: #333333;
}

body.dark-mode .experience:hover {
     box-shadow: -5px 8px 2px rgb(146, 146, 146);
}

body.dark-mode .socialmedia>a>i {
     color: #ffffff;
}

body.dark-mode .fa-github:hover {
     color: #ffffff;
}

body.dark-mode .fa-twitter:hover {
     color: #1DA1F2;
}

body.dark-mode .fa-linkedin:hover {
     color: #0077B5;
}

/* Media Queries for Responsive Design */
@media (max-width: 1160px) {
     .content {
          width: 90%;
     }

     .experience {
          flex: 0 0 calc(50% - 20px);
     }

     .heading h1 {
          font-size: 1.5rem;
     }

     .heading p {
          font-size: 0.8rem;
     }
}

@media (max-width: 768px) {
     .content {
          width: 100%;
     }

     .experience {
          flex: 0 0 calc(40% - 20px);
     }

     .experience h2 {
          font-size: 0.9rem;
     }

     .experience p {
          font-size: 0.8rem;
     }

     .heading h1 {
          font-size: 1.2rem;
     }

     .heading p {
          font-size: 0.7rem;
     }
}

@media (max-width: 500px) {
     .content {
          width: 100%;
     }

     .experience {
          flex: 0 0 calc(100% - 20px);
     }

     .experience h2 {
          font-size: 0.8rem;
     }

     .experience p {
          font-size: 0.7rem;
     }

     .heading h1 {
          font-size: 1rem;
     }

     .heading p {
          font-size: 0.6rem;
     }
}